<launch>
  <node pkg="uav_control" name="uav_control_node" type="uav_control_node" output="screen">
    <!-- <remap from="/vins_fusion/imu_propagate" to="/sim_odom"/> -->
    <remap from="/camera/color/image_raw" to="/iris_0/realsense/depth_camera/color/image_raw"/>
    <param name="publish_position_cmd" value="false"/>
  </node>

  <!-- <node pkg="uav_control" name="ref_pose_node" type="ref_pose_node" output="screen">
      如果通过订阅方式获取参考点，需要输入订阅的话题名称
      <remap from="/ref_point_topic" to="$(arg ref_points_topic)"/>
      <rosparam command="load" file="$(find uav_control)/config/circle_setting.yaml" />
  </node> -->

  <!-- <node pkg="sim_tools" name="sim_odom_node" type="sim_odom_node" output="screen">
  </node> -->
  
</launch>
